* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
  }
  
  body {
    margin: 20px auto;
    background-image: linear-gradient(to right, #11324D, #E7E0C9);
    font-weight: 300;
    color: #104250;
  }
  
  form {
    padding: 10px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  input {
    font-family: 'DM Sans', sans-serif;
    padding: 0 8px;
  }
  
  a {
    color: #0000ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #wrapper,
  #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    width: 600px;
    max-width: 100%;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 30px 0 rgba(241, 236, 236, 0.3);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 20px;
  }
  
  #loginform {
    padding-top: 18px;
    text-align: center;
  }
  
  #loginform p {
    padding: 15px 25px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  #chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: rgba(245, 242, 242, 0.562);
    height: 300px;
    width: 530px;
    overflow: auto;
    border-radius: 10px;
  }
  
  #usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #134d5d94;
    
  }
  
  #name {
    border-radius: 6px;
    border: 1px solid #134d5d94;
    padding: 2px 8px;
  }
  
  #submitmsg,
  #enter{
    background: #134E5E;
    border: 2px solid #134E5E;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .error {
    color: #f04646;
  }
  
  #menu {
    padding: 15px 25px;
    display: flex;
  }
  
  #menu p.welcome {
    flex: 1;
  }
  
  a#exit {
    color: white;
    background: #f04646;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .msgln {
    margin: 0 0 5px 0;
  }
  
  .msgln span.left-info {
    color: #F58840;
  }
  
  .msgln span.chat-time {
    color: #142F43;
    font-size: 60%;
    vertical-align: super;
  }
  
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #142F43;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
  
  .msgln b.user-name-left {
    background: #F58840;
  }

/*IFRAME*/
.screen{
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right:1%; 
            margin-bottom:1%;
        }
        
        .livec{
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0;
            width: 300px;
            height: 400px;
        }
        .oflivec{
            border: 0px solid white;
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            width: 0px;
            height: 0px;
        }
